<footer class="site-footer">

  <div class="wrapper">

    <div class="site-tagline">
      <p>WEDDING AND FAMILY PHOTOGRAPHY | LOUISVILLE, KENTUCKY, AND INDIANA | <a href="mailto:hello@lauracookphoto.com">HELLO@LAURACOOKPHOTO.COM</a> | <span class="fix-num">954.319.5565</span></p>
    </div>

    <div class="social-media-container">
      <ul class="social-media-list">
        <li>
          <a href="https://www.instagram.com/laura.cook.photo/" title="instagram">
            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/Lauracooktakespictures/" title="facebook">
            <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://www.pinterest.com/Lauratakespics/" title="pinterest">
            <i class="fa fa-pinterest-square fa-2x" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="mailto:hello@lauracookphoto.com" title="email">
            <i class="fa fa-envelope-square fa-2x" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="bottom-logo">

      <a href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/assets/alt-logo.png" alt="Laura Cook Photography">
      </a>

    </div>

  </div>

</footer>
